dasdasda
body {dasdasdas
    background-color: palevioletred
}sdas
 
h1 {
    color:gold;
}
das

.feature1 {dasdsadasdasdadads
    background: antiquewhite;
    color: khaki;
}


.feature2 {dasdas
    font-size: 100px; 
    color: gold
}dasda